* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;

}

/* nav bar styles start */
header {
    width: 100%;
}

.logo_img {
    width: 70px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 20px;
}

span {
    color: #FF42A5;
}

.logo_name {
    font-size: 3rem;
    font-weight: 700;
}

.nav_container {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    /* height: 130px; */
}

.menus li {
    list-style: none;
}

.menus li a {
    text-decoration: none;
    color: #3C354F;
    font-size: 1.1rem;
    font-weight: 500;
    padding-right: 10px;
}

.menus {
    display: flex;
    gap: 5px;
    align-items: center;
}

.follow_us {
    display: flex;
    gap: 5px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 15px;
}



/* banner section start  */
.banner {
    width: 100%;
    min-height: 700px;
}

.banner_container {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;

}

.banner_content_wrepper {
    background-image: url("./images/Group\ 14.png");
    width: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 700px;
    display: flex;
    align-items: center;
}

.banner_contant {
    width: 100%;
    padding-left: 100px;


}

.banner_img {
    width: 50%;
    padding-right: 100px;

}

.banner_img img {
    width: 100%;
    min-height: 700px;
}

.banner_title {
    color: #0B0223;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
}

.goat {
    font-size: 4rem;
    font-weight: 800;
    line-height: normal;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0;
    margin-bottom: 10px;
}

.banner_descrip {
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    margin-bottom: 10px;

}

.btn {
    padding: 10px 15px;
    color: #FFF;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 40px;
    background-color: #FF42A5;
    border: 0;
    margin-top: 20px;
}

.rugue_btn {
    padding: 10px 15px;
    color: #FFF;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 40px;
    background-color: #4EC5F7;
    border: 0;
    margin-top: 20px;
}

/* online section styles */
.online {
    width:auto;
    margin: 100px auto;

}

.online_title {
    text-align: center;
    color: #0B0223;
    font-size: 2.3rem;
    font-weight: 700;
}

.funny {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* online section styles  */
.online_description {
    color: #534C64;
    text-align: center;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    margin-top: 15px;
}

.online_box_contaainer {
    display: flex;
    gap: 15px;
    margin-top: 50px;
    width: 90%;
    margin: 100px auto;
    align-items: center;
    justify-content: center;
}
.box{
    max-width: 340px;
    height: 370px;
    
}
#hover_box{
    position: relative;
}
.box img {
    width:100%;
    height: 310px;
}

.box p {
    color: #534C64;
    font-size:.8rem;
    font-weight: 500;
}
.hover_logo{
    position: absolute;
    width:100%;
    height:84%;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    top:0;
    left:0;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    background: rgba(0,0,0,0.7);
    border-radius: 10px;
    opacity: 0;  
    transition: .4s; 
}
.hover_logo p{
    font-size: 1rem;
    color: red;
    font-weight: 600;
}
.hover_logo:hover {
    opacity: 1;
}




/* mediaQuery styles */
/* for mobiles devices */
@media screen and (max-width:550px) {

    .nav_container,
    .menus {
        flex-direction: column;
    }

    .menus {
        margin-top: 70px;
        margin-bottom: 50px
    }

    .menus>li {
        padding-bottom: 50px;
    }

    /* banner */
    .banner_container {
        flex-direction: column-reverse;
    }

    .banner_img {
        width: 90%;
        padding: 10px;
        margin: auto;
    }

    .banner_content_wrepper {
        width: 90%;
        margin: auto;
    }

    .banner_contant {
        width: 80%;
        margin: 0 auto;
        padding-left: 40px;

    }

    .banner_title {
        font-size: 1.4rem;
    }

    .goat {
        font-size: 3rem;
    }

    .banner_descrip {
        font-size: .7rem;

    }

    .btn {
        font-size: .7rem;
    }

    .rugue_btn {
        font-size: .7rem;
    }
    /* online scetion */
    .online_box_contaainer{
        flex-direction: column;
    }
    .online_title{
        font-size: 1.2rem;
        width: 90%;
        margin: auto;
    }
    .online_description{
        width: 90%;
        margin: auto;
        font-size: .9rem;
    }
}




/* for tablet device */
@media screen and (min-width:550px) and (max-width:992px) {
    .nav_container {
        flex-direction: column;
    }

    .logo {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .menus {
        margin-bottom: 50px;
    }

    .banner_container {
        flex-direction: column-reverse;
    }

    .banner_img {
        width: 90%;
        padding: 10px;
        margin: auto;
    }

    .banner_content_wrepper {
        width: 85%;
        margin: auto;
    }

    .banner_contant {
        width: 90%;
        margin: 0 auto;
        margin-left: 100px;
    }

    .banner_descrip {
        font-size: 1.2rem;
    }
    .online_box_contaainer{
        width: 80%;
        margin:60px auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}